<mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-toolbar-row>
    <a mat-button aria-label="Navigate to the palladium homepage."
     routerLink="/" routerLinkActive="active">Palladium</a>
    <span class="spacer"></span>
    <button mat-icon-button (click)="themeService.setDarkTheme(!themeService.isDarkTheme.value)">
      <mat-icon>{{(themeService.isDarkTheme | async)?"dark_mode":"light_mode"}}</mat-icon>
    </button>
    <button mat-button [matMenuTriggerFor]="menu" *ngIf="(user$ | async)">
      <mat-icon>person</mat-icon>
      {{(user$ | async)?.email}}
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-progress-bar *ngIf="(this.progressBar$ | async)?.visible"
  [color]="(this.progressBar$ | async)?.color"
  [mode]="(this.progressBar$ | async)!.mode"
  [value]="(this.progressBar$ | async)?.value"
  [bufferValue]="(this.progressBar$ | async)!.bufferValue">
</mat-progress-bar>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="logout()">Logout</button>
</mat-menu>
