:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}
.mat-toolbar-multiple-rows {
  min-height: 0;
}
.place-for-progress-bar {
  padding-bottom: 4px;
}